<div class="row centered mt-4">
    <div class="col-md-7 col-md-offset-1 mx-auto">
        <center>
        <table class="table table-hover table-striped table-dark table-hover">
            Search for Ride
             <form method="post" action="/searchcars">
            <input type="text" class="form-control"name="searchdatetimes" id="searchdatetimes">
            <button type="submit" class ="btn">Search</button>
            </form>
            <thead>
                <tr>
                    {{!-- <th scope="col" class="pl-5 pr-5">License Number</th> --}}
                    <th scope="col"class="pl-5 pr-5">Car Model</th>
                    <th scope="col" class="pl-5 pr-3">Base Price</th>
                    <th scope="col" class="pl-2 pr-3">Hourly rate</th>
                     <th scope="col" class="pl-2 pr-2">Deposit</th>
                     


                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    
                     <th scope="row"class="pl-5 pr-5">{{this.manufacturer}} {{this.model}}</th>
                    <td class="pl-5 pr-3">{{this.baseprice}}</td>
                    <td class="pl-2 pr-3">{{this.pph}}</td>
                    <td class="pl-2 pr-2"> {{this.security}}</td>
                    
                        <td>
                        <button type="submit" class="btn btn-success" data-toggle="modal"
                            data-target="#{{@index}}Modal">Book </button>
                        
                    </td>
                    
                    <form method="get" action="/bookingdetails/{{this._id}}">
                    <td class="pl-2 pr-1"> <button type="submit" class="btn">-></button></td>
                    </form>
                    {{!-- --}}
                    <!-- Modal -->
<!-- Modal -->
   <div class="modal fade" id="{{@index}}Modal" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Datepicker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height: 1000px;">
              <form method="post" action="/cars/book/{{this._id}}">
                    <input type="text" class="form-control"name="datetimes" id="datetimes">
                    <button type="submit" class="btn btn-success">Book </button>
                </form>
            
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
                   

                </tr>
                {{/each}}
            </tbody>
        </table>
    </center>
    </div>
</div>