<div class="row centered mt-4">
    <div class="col-md-7 col-md-offset-1 mx-auto">
        <center>
        <table class="table table-hover table-striped table-dark table-hover">
            
            <thead>
                <tr>
                    {{!-- <th scope="col" class="pl-5 pr-5">License Number</th> --}}
                    <th scope="col"class="pl-5 pr-5">Car Model</th>
                    <th scope="col"class="pl-5 pr-5">Chassis No.</th>
                    <th scope="col" class="pl-5 pr-3">From</th>
                    <th scope="col" class="pl-2 pr-3">To</th>
                     <th scope="col" class="pl-2 pr-2">Price</th>
                     


                </tr>
            </thead>
            <tbody>
                {{#each data}}
                
                <tr>
                    
                     <th scope="row"class="pl-5 pr-5">{{carid.manufacturer}} {{carid.model}}</th>
                     <td class="pl-5 pr-3">{{carid.chesis}}</td>
                    <td class="pl-5 pr-3">{{this.from}}</td>
                    <td class="pl-2 pr-3">{{this.to}}</td>
                    <td class="pl-2 pr-2"> {{this.totalprice}}</td>
                   
                    {{!-- --}}
                    <!-- Modal -->
<!-- Modal -->
  </div>
                   

                </tr>
                {{/each}}
            </tbody>
        </table>
    </center>
    </div>
</div>