<h1> CONGRATULATIONS!</h1>
 <h2> Your booking of {{manufacturer}} {{model}} is confirmed.</h2> 
     <h2>Dates: {{from}} to {{to}} </h2> 
     <h2>Price:  {{totalprice}}</h2>
     <h2>Pickup Location: {{pickup}}</h2>
     <h2>Drop Location: {{drop}}</h2>
<h3>Follow these simple steps when you arrive our station:</h3>
<h3>- Reach out to our executive</h3>
<h3>- Show MyBookings tab along with your original Driving License</h3>
<h3>- Pay the amount</h3>
<h3>- Enjoy Riding!~</h3>