<div class="row centered mt-4">
    <div class="col-md-7 col-md-offset-1 mx-auto">
        <center>
        <table class="table table-hover table-striped table-dark table-hover">
            <thead>
                <tr>
                    
                    <th scope="col"class="pl-5 pr-5">Booked by: </th>
                    <th scope="col" class="pl-5 pr-3">From</th>
                    <th scope="col" class="pl-2 pr-3">To</th>
                     <th scope="col" class="pl-2 pr-2">Price</th>
                    
                     


                </tr>
            </thead>
            <tbody>
                
                {{#each data}}
                <tr>
                    
                     <th scope="row"class="pl-5 pr-5">{{this.bookedBy}} {{this.model}}</th>
                    {{!-- <td class="pl-5 pr-2">{{this.model}}</td> --}}
                    <td class="pl-5 pr-3">{{this.from}}</td>
                    <td class="pl-2 pr-3">{{this.to}}</td>
                    <td class="pl-2 pr-2"> {{this.totalprice}}</td>
                   
                    <form method="get" action="/bookingdetails/{{this._id}}">
                    <td class="pl-2 pr-1"> <button type="submit" class="btn">-></button></td>
                    </form>
                    {{!-- --}}
                    <!-- Modal -->
<!-- Modal -->
   <div class="modal fade" id="{{@index}}Modal" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Datepicker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height: 1000px;">
              <form method="post" action="/cars/book/{{this._id}}">
                    <input type="text" class="form-control"name="datetimes" id="datetimes">
                    <button type="submit" class="btn btn-success">Book </button>
                </form>
            
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
                   

                </tr>
                {{/each}}
            </tbody>
        </table>
    </center>
    </div>
</div>